.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 400px;
  width: 400px;
  border-radius: 5px;
}
.contact-form .request-above-div {
  margin: 7% 0 2% 0;
  height: auto;
}
.contact-form .request-above-div span.message {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
}
.contact-form .request-above-div .request-above-div-title {
  text-align: center;
  font-weight: bold;
  text-shadow: 0.5px 0.5px 0.5px #333;
  margin-bottom: 15px;
}
.contact-form .request-above-div .request-above-div-form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  border-radius: 3px;
}
.contact-form .request-above-div .request-above-div-form .left-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 300px;
  margin: 2%;
}
.contact-form .request-above-div .request-above-div-form .left-form .form-label {
  margin-top: 5%;
}
.contact-form .request-above-div .request-above-div-form .left-form .form-input {
  font-size: 1.563rem;
  height: 40px;
  margin: 8px 0;
  border-radius: 5px;
  padding-left: 10px;
  border: 1px solid #999;
}
.contact-form .request-above-div .request-above-div-form .left-form .no-show {
  display: none;
}
.contact-form .request-above-div .request-above-div-form .left-form .form-input-radio {
  margin-left: 10%;
}
.contact-form .request-above-div .request-above-div-form .left-form span.form-error-msg {
  display: none;
  color: red;
}
.contact-form .request-above-div .request-above-div-form .left-form input:invalid[focused=true] ~ span {
  display: block;
}
.contact-form .request-above-div .request-above-div-form .formBtn {
  font-size: 1.25rem;
  padding: 0 2%;
  display: block;
  margin: 3% auto;
  align-items: center;
  background-color: #bb8b10;
  border-color: #bb8b10;
  color: #fefefe;
  border-radius: 3px;
  width: 200px;
  padding: 5px;
  cursor: pointer;
}
.contact-form .request-above-div .request-above-div-form .contactbtn {
  background-color: #bb8b10;
  border: 2px solid #bb8b10;
  color: #fefefe;
  font-weight: bold;
}
.contact-form .request-above-div .request-above-div-form .formBtn:hover, .contact-form .request-above-div .request-above-div-form .formBtn:active {
  transform: scale(1.1);
  transition: all 0.5s;
}
@media only screen and (max-width: 800px) {
  .request-section .request-above-div .request-above-div-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
    border: 0px;
  }
  .request-section .request-above-div .request-above-div-form .left-form, .request-section .request-above-div .request-above-div-form .right-form {
    margin: 0%;
  }
}
@media only screen and (max-width: 760px) {
  .request-section {
    margin-top: 15%;
  }
}
@media only screen and (max-width: 600px) {
  .request-section .request-above-div .request-above-div-form {
    width: 350px;
  }
  .request-section .request-above-div .request-above-div-form .left-form, .request-section .request-above-div .request-above-div-form .right-form {
    width: 350px;
  }
}/*# sourceMappingURL=contact.css.map */