@import './../../../styles/variables/variables.scss';

.subscriber-section {
    @include flexdisplay(row, flex-start, flex-start);
    margin: 0;
    padding: 0;    

    .subscriber-above-div { 
        margin: 0; 
        height: auto;  
        width: 250px;    
        
        .subscriber-above-div-title { 
            text-align: center; 
            font-size: $heading;  
            font-weight: bold;
            color: $accent-lt;
            text-shadow: .5px .5px .5px #333;
        }  

        .subscriber-above-div-form {
            width: auto; 

            fieldset { 
                // //legend {}
                .no-show { 
                    display: none;
                }

                .form-label {
                    margin-top: 0;
                }

                legend {
                    h2 {
                        font-size: $subheading;
                    }
                }     

                span.form-error-msg {
                    display: none; 
                    color: red;                  
                }
    
                //.form-input:invalid ~ span {
                input:invalid[focused="true"] ~ span {
                    display: block; 
                }

                .features-div {
                    .features-select-div {
                        width: 100%;
                        position: relative;
        
                        option {
                            font-size: $normalfont;
                        }
                        
                        p {
                            font-size: $captionfont;  
                        }                                                        
                    }
                }                       
            }
 
            span.message {
                display:block;
                text-align:center;
                font-size: 1; 
            }

            .formBtn {
                font-size:  $normalfont;
                padding: 1% 3%;
                display: block;  //need to block to center - buttons, img, input are inline by default 
                margin: 3% auto;
                align-items: center;   
                background-color: $light-lt;
                border-color: $light-lt;
                color: $dark-md;
                border-radius: 5px; 
            }  
            
            .formBtn:active {
                border-radius: 20%;
                background-color: $dark-md;  
                border-color: $dark-md;                    
            }
        }        
    }
    
}

// @media only screen and (max-width: 760px) {
//     .subscriber-section {
//         margin-top: 15%;
//     }  
// }

// @media only screen and (max-width: 600px) {
//     .subscriber-section {
//         .subscriber-above-div {
//             .subscriber-above-div-form {
//                 width: 350px;  
//             }
//         }
//     }            
// }


.form-header {
    margin-bottom: 20px;
}
  
.form-input {
    min-height: 1.875rem; 
    width: 100%;
    text-align: center;
    font-size: $normalfont;
    font-weight: bold;
    margin-bottom: 5px;
    border: 1px solid;
    border-radius: 5px;
}
  
.form-textarea {
    min-height: 150px;  
    width: 100%;
    font-size: $normalfont;
    margin-bottom: 5px;
    border: 1px solid #333;
}

// button {
//     margin: 0px 3px;
//     border-radius: 3px;
//     background-color: white;
//     border:  1px solid white; 
//     color: $darkslategrey;
// }

.component-card { 
    width: 250px;
    border: 1px solid $dark-md;
    box-shadow: 10px 5px 5px $dark-md;
    border-radius: 5%;
    margin: 20px;
    padding: 1%; 
} 





