@import './../../styles/variables/variables.scss';

.news-banner {
    @include flexdisplay(column, flex-end, center);
    background-image: url("./../../assets/pexels-rfstudio-3810788.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 40vh;
    overflow: hidden;

    p {
        font-size: 7rem;
        font-weight: bold;
        position: absolute;
        color: $goldenrod;
        margin-bottom: -47px;
        letter-spacing: 10px;
        //width: 50%;
        height: 150px;
        //background-color:$white;
        text-align: center;
    }
}    